@model CreateCommentDto

@{
    ViewData["Title"] = "Yorum Ekleme";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Yorum Giriş Alanı </h4>
                        <p class="card-subtitle mb-4">
                            Blog yazıları için kullanıcı yorumlarının yönetildiği
                            sayfadır. Yorumları onaylayabilir, düzenleyebilir
                            veya silebilirsiniz.
                        </p>

                        <form method="post">

                            <div class="form-group">
                                <label>İsim</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="İsminizi Giriniz">
                            </div>

                            <div class="form-group">
                                <label >Tarih</label>
                                <input type="date"  class="form-control" id="exampleInputTitle" asp-for="CreateDate" placeholder="Tarih Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName">Mail</label>
                                <input type="email" class="form-control" id="exampleInputTitle" asp-for="Email" placeholder="Mail Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName">Mail</label>
                                <textarea placeholder="Açıklama Giriniz" asp-for="Description" cols="30" rows="7" class="form-control" style="resize:none;"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Yorumu Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
