@model CreateReservationDto

@{
    ViewData["Title"] = "Rezervasyon";
}

<div class="col-md-12 block-9 mb-md-5">
    <form method="post" class="bg-light p-5 contact-form">

        <h3 class="alert alert-success">Araç Rezervasyon Formu</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <input type="hidden" asp-for="CarId" value="@ViewBag.v3" />

        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Adınız" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Surname" class="form-control" placeholder="Soyadınız" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control" placeholder="Mail Adresiniz" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Phone" class="form-control" placeholder="Telefon Numaranız" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="PickUpLocationId" asp-items="ViewBag.Locations" class="form-control">
                <option value="" selected>Alınacak Lokasyonu Seçin</option>
            </select>
            <span asp-validation-for="PickUpLocationId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="DropOffLocationId" asp-items="ViewBag.Locations" class="form-control">
                <option value="" selected>Teslim Etmek İstediğiniz Lokasyon</option>
            </select>
            <span asp-validation-for="DropOffLocationId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Age" type="number" class="form-control" placeholder="Yaşınız" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="DriverLicenseYear" type="number" class="form-control" placeholder="Ehliyet Yılınız" />
            <span asp-validation-for="DriverLicenseYear" class="text-danger"></span>
        </div>

        <div class="form-group">
            <textarea asp-for="Description" cols="30" rows="7" class="form-control"
                      placeholder="Varsa Eklemek İstedikleriniz"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary py-3 px-5">Rezervasyonu Tamamla</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
