@model UpdateBrandDto

@{
    ViewData["Title"] = "Marka Güncelle";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Marka Güncelleme Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Bu ekrandan sistemde kayıtlı bir markanın adını güncelleyebilirsiniz.
                            Değişiklik yaptıktan sonra <strong>Kaydet</strong> butonuna basarak işlemi tamamlayın.
                        </p>

                        <form method="post">

                            <input type="hidden" asp-for="BrandId" />

                            <div class="form-group">
                                <label for="exampleInputName">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Marka adı girişi yapınız">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

