@{
	ViewData["Title"] = "Yönetici Paneli";
}

<div class="page-content">
	<div class="container-fluid">

		@await Component.InvokeAsync("_AdminDashboardComponentPartial")

		<div class="row">

			@await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")

			@await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")

			@await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
			
		</div>

		<div class="row">
			@await Component.InvokeAsync("_AdminDashboardCarPrincingsComponentPartial")

				<div id="blogListContainer" class="col-xl-6">
					@await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
				</div>
		</div>
</div>
</div>

@section Scripts{
	<script>
		document.addEventListener("click", (e) => {

			const link = e.target.closest("#blogListContainer .pagination a.page-link");
			if (!link) return;

			e.preventDefault();

			fetch(link.href)
				.then(response => response.text())
				.then(html => {
					document.getElementById("blogListContainer").innerHTML = html;
				})
				.catch(err => console.error(err));
		});
	</script>
}