@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int page = ViewBag.CurrentPage ?? 1;
}

<div class="page-content">
	<div class="container-fluid">

		@await Component.InvokeAsync("_AdminDashboardComponentPartial")

		<div class="row">

			@await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")

			@await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")

			@await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
			
		</div>

		<div class="row">
			@await Component.InvokeAsync("_AdminDashboardCarPrincingsComponentPartial")

			@await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial", new { page = page })
		</div>

	</div>
</div>
