@model UpdateFeatureDto

@{
    ViewData["Title"] = "Özellik Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Özelliği Güncelle</h4>
                        <p class="card-subtitle mb-4">
                            Seçili araca ait özelliğin adını güncelleyebilirsiniz.
                            Değişiklik yaptıktan sonra <strong>Kaydet</strong> butonuna basarak işlemi tamamlayın.
                        </p>

                        <form method="post">

                            <input type="hidden" asp-for="FeatureId" />

                            <div class="form-group">
                                <label asp-for="Name">Özellik Adı</label>
                                <input asp-for="Name" class="form-control" placeholder="Örn: Klima, Bluetooth">

                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
